rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Permite leitura/escrita apenas se a origem for o app (não pública)
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
